{
  "{src,__tests__}/**/*.js": [
    "prettier --single-quote --trailing-comma=all --write",
    "git add"
  ],
  "*.md": [
  	"prettier --single-quote --trailing-comma=all --write",
    "git add"
  ]
}
